@font-face {
    font-family: 'balboa-plus-fill';
    font-style: normal;
    font-weight: 400;
    src: url("balboa-plus-fill.woff2") format("woff2"),
    url("balboa-plus-fill.woff") format("woff"),
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url("Inter-Regular.woff2") format("woff2"),
    url("Inter-Regular.woff") format("woff");
}